.*.swp
*.map
*~

*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

o/
obj/
bin/
*.exe
*.mdb
/.project
pp.*
/nbproject/
javascripts/BULL/
images/
*.tgz
*.gz

*.map

core
/javascripts/app.min.js
/javascripts/config.min.js
/javascripts/joose.min.js
/javascripts/main-jquery.min.js
/javascripts/main-prototype.min.js
/javascripts/myajax6.min.js
/javascripts/main-purejs6.min.js
/javascripts/utils.min.js
/javascripts/myajax.min.js
/javascripts/main-purejs.min.js
/stylesheets/core.min.css
/css/reset.min.css

*.sublime-*